
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="/Home/Login" method="post">

            <p><span>用户名：</span><input type="text" name="usersname" /></p>
            <p><span>密码：</span><input type="password" name="password" /></p>
            <p><input type="submit" value="提交" /></p>

        </form>
    </div>
</body>
</html>
